<!-- <div id="div1" class="mt-5" style="width: 500px;"> this is ñevel 1
    <div id="div2">this is level 2 <p id="p1">tis is level 3</p>
        <p id="p2"> this is level 3!
            <span id="span1">
                this is level 4
            </span>
            <span id="span12">
                this is level 4
            </span>
        </p>
    </div>
</div> -->

<div class="main-container" style="margin-top: 500px;">
    <div class="sub-container ">1</div>
    <div class="sub-container ">2</div>
    <div class="sub-container ">3</div>
    <div class="sub-container ">4</div>
</div>