#main_container {
    min-height: 70% !important;
    box-sizing: border-box;
    margin: 0;
    padding: 7em 6em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* ----------Header---------- */
.fa-rocket {
    color: rgba(197, 197, 197, 0.4);
    margin-left: 5px;
}

.spacer {
    flex: 1;
}

.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

svg.material-icons {
    height: 24px;
    width: auto;
}

svg.material-icons:not(:last-child) {
    margin-right: 8px;
}

.card svg.material-icons path {
    fill: #888;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
}

.card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

.card-container .card:not(:last-child) {
    margin-right: 0;
}

.card.card-small {
    height: 16px;
    width: 168px;
}

.card-container .card:not(.highlight-card) {
    cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
}

.card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
}

.card.card.highlight-card span {
    margin-left: 60px;
}

svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
}

a,
a:visited,
a:hover {
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    color: #125699;
}

/* ----------Solution---------- */
mat-panel-description {
    display: flex;
    justify-content: flex-end;
}

.code-container {
    height: 2110px !important;
    overflow: hidden;
}

/* ----------Rating---------- */
.rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

bar-rating, .temp-text {
    font-size: 17px;
    font-weight: 600;
    color: #1976d2;
}

ngb-rating {
    font-size: 30px;
    color: #1976d2;
}

.submit-rating {
    background-color: #1976d2;
}

.submit-rating:hover {
    background-color: #3e96ee;
    transition: all 0.2s ease-in-out;
}

.filled {
    color: #1976d2;
}

.notfilled {
    color: rgba(25, 118, 210, 0.274);
}

/* -----------------Footer----------------- */
.circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
}

.circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}