 .toolbar {
     position: absolute;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     height: 60px;
     display: flex;
     align-items: center;
     background-color: #1976d2;
     color: #fff !important;
     font-weight: 600;
     z-index: 13;
 }

 .text-navbar {
     color: #fff !important;
     font-weight: 800 !important;
 }

 .toolbar img {
     margin: 0 16px;
 }

 .toolbar #twitter-logo {
     height: 40px;
     margin: 0 8px;
 }

 .toolbar #youtube-logo {
     height: 40px;
     margin: 0 16px;
 }

 .toolbar #twitter-logo:hover,
 .toolbar #youtube-logo:hover {
     opacity: 0.8;
 }

 .nav-item {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     font-size: 01em;
 }

 .links:hover {
     transform: translateY(0.25rem);
     box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
     transform: scale(1.1);
     transition: 0.5s;
     cursor: pointer;
 }


 mat-panel-description {
     display: block;
     text-align: end !important;
 }

 #offcanvasWithBackdrop {
     display: block;
     overflow: scroll;
 }